<a href="https://colab.research.google.com/github/JorgeAccardi/cienciadedatos/blob/main/leyendo_base_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Leyendo banco de datos**

###**Creando un banco de datos local**

In [69]:
import sqlalchemy

In [70]:
from sqlalchemy import create_engine, MetaData, Table, inspect, text

In [71]:
engine = create_engine('sqlite:///:memory')

###**Escribiendo en una base de datos**

In [72]:
import pandas as pd

In [73]:
archivo = 'clientes_banco.csv'

In [74]:
datos = pd.read_csv(archivo)

In [75]:
datos

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1,Casa/Departamento propio
3,5008808,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
4,5008809,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
...,...,...,...,...,...,...,...,...,...,...,...
438458,6840104,62,Nivel intermedio,Divorciado,1,Pensionista,Otro,0,135000.0,0,Casa/Departamento propio
438459,6840222,43,Nivel intermedio,Soltero,1,Empleado,Construcción Civil,8,103500.0,0,Casa/Departamento propio
438460,6841878,22,Nivel superior,Soltero,1,Business Partner,Ventas,1,54000.0,0,Vive con los padres
438461,6842765,59,Nivel intermedio,Casado,2,Pensionista,Otro,0,72000.0,0,Casa/Departamento propio
438462,6842885,51,Nivel intermedio,Casado,2,Empleado,Ventas,3,121500.0,0,Casa/Departamento propio

In [76]:
datos.to_sql('Clientes', engine, index = False)

ValueError: Table 'Clientes' already exists.

In [ ]:
inspector = inspect(engine)

In [ ]:
print(inspector.get_table_names())

###**Leyendo una consulta SQL**

In [ ]:
query = 'SELECT * FROM clientes WHERE Categoria_de_renta = "Empleado"'

In [ ]:
empleados = pd.read_sql(sql=text(query), con = engine.connect ())

In [ ]:
empleados.to_sql('empleados', con = engine.connect (), index = False)

In [ ]:
pd.read_sql_table('empleados',  con = engine.connect (), columns = ['ID_Cliente','Grado_estudio','Rendimiento_anual'] )

##**Actualizando una base de datos**

In [78]:
query = 'SELECT * FROM clientes'

In [79]:
pd.read_sql(sql=text(query), con = engine.connect())

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2.0,Empleado,Otro,12.0,427500.0,1.0,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2.0,Empleado,Otro,12.0,427500.0,1.0,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2.0,Empleado,Seguridad,3.0,112500.0,1.0,Casa/Departamento propio
3,5008808,52,Nivel intermedio,Soltero,1.0,Business Partner,Ventas,8.0,270000.0,0.0,Casa/Departamento propio
4,5008809,52,Nivel intermedio,Soltero,1.0,Business Partner,Ventas,8.0,270000.0,0.0,Casa/Departamento propio
...,...,...,...,...,...,...,...,...,...,...,...
95891,5713925,51,Nivel intermedio,Soltero,1.0,Empleado,Otro,5.0,180000.0,0.0,Casa/Departamento propio
95892,5713927,51,Nivel intermedio,Soltero,1.0,Empleado,Otro,5.0,180000.0,0.0,Casa/Departamento propio
95893,5713929,51,Nivel intermedio,Soltero,1.0,Empleado,Otro,5.0,180000.0,0.0,Casa/Departamento propio
95894,5713930,51,Nivel intermedio,Soltero,1.0,Empleado,Otro,5.0,180000.0,0.0,Casa/Departamento propio
95895,5713931,51,Nivel intermedio,Soltero,NaN,None,None,NaN,NaN,NaN,None

In [87]:
#Borrando Registros
from sqlalchemy.exc import SQLAlchemyError
query = "DELETE FROM clientes WHERE ID_Cliente=5008805"
try:
  r_set = engine.connect().execute(text(query))
except SQLAlchemyError as e:
  print(e)
else:
  print("#Registros borrados: ", r_set.rowcount)

(sqlite3.OperationalError) database is locked
[SQL: DELETE FROM clientes WHERE ID_Cliente=5008805]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [88]:
pd.read_sql_table('clientes', con = engine.connect())

InvalidRequestError: Could not reflect: requested table(s) not available in Engine(sqlite:///:memory): (clientes)

In [90]:
#Actualizando Registros
from sqlalchemy.exc import SQLAlchemyError
query = "UPDATE clientes SET Grado_estudio='Nivel superior' WHERE ID_Cliente=5008808"
try:
  r_set = engine.connect().execute(text(query))
except SQLAlchemyError as e:
  print(e)
else:
  print("#Registros Actualizados: ", r_set.rowcount)

(sqlite3.OperationalError) database is locked
[SQL: UPDATE clientes SET Grado_estudio='Nivel superior' WHERE ID_Cliente=5008808]
(Background on this error at: https://sqlalche.me/e/20/e3q8)