<a href="https://colab.research.google.com/github/JorgeAccardi/cienciadedatos/blob/main/leyendo_base_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Leyendo banco de datos**

###**Creando un banco de datos local**

In [1]:
import sqlalchemy

In [2]:
from sqlalchemy import create_engine, MetaData, Table, inspect, Text

In [3]:
engine = create_engine('sqlite:///:memory')

###**Escribiendo en una base de datos**

In [4]:
import pandas as pd

In [5]:
archivo = 'clientes_banco.csv'

In [7]:
datos = pd.read_csv(archivo)

In [10]:
datos

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2.0,Empleado,Otro,12.0,427500.0,1.0,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2.0,Empleado,Otro,12.0,427500.0,1.0,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2.0,Empleado,Seguridad,3.0,112500.0,1.0,Casa/Departamento propio
3,5008808,52,Nivel intermedio,Soltero,1.0,Business Partner,Ventas,8.0,270000.0,0.0,Casa/Departamento propio
4,5008809,52,Nivel intermedio,Soltero,1.0,Business Partner,Ventas,8.0,270000.0,0.0,Casa/Departamento propio
...,...,...,...,...,...,...,...,...,...,...,...
95891,5713925,51,Nivel intermedio,Soltero,1.0,Empleado,Otro,5.0,180000.0,0.0,Casa/Departamento propio
95892,5713927,51,Nivel intermedio,Soltero,1.0,Empleado,Otro,5.0,180000.0,0.0,Casa/Departamento propio
95893,5713929,51,Nivel intermedio,Soltero,1.0,Empleado,Otro,5.0,180000.0,0.0,Casa/Departamento propio
95894,5713930,51,Nivel intermedio,Soltero,1.0,Empleado,Otro,5.0,180000.0,0.0,Casa/Departamento propio
95895,5713931,51,Nivel intermedio,Soltero,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
datos.to_sql('Clientes', engine, index = False)

95896

In [11]:
inspector = inspect(engine)

In [12]:
print(inspector.get_table_names())

['Clientes']