<a href="https://colab.research.google.com/github/JorgeAccardi/cienciadedatos/blob/main/Pandas_tratamiento_manipulacion_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**PROBLEMA DE NEGOCIO**

##**1. Entendiendo el problema**

In [5]:
import pandas as pd

In [6]:
datos = pd.read_json('datos_hosting.json')
datos.head()

FileNotFoundError: File datos_hosting.json does not exist

In [ ]:
datos.info()

In [7]:
datos = pd.json_normalize(datos['info_inmuebles'])
datos.head()

NameError: name 'datos' is not defined

In [ ]:
datos.info()

###**2. Datos numéricos**

In [ ]:
columnas = list(datos.columns)
columnas

In [ ]:
datos = datos.explode(columnas[3:])
datos

In [ ]:
datos.reset_index(inplace = True, drop = True)

In [ ]:
datos.head()

In [ ]:
datos.info()

In [ ]:
import numpy as np

In [8]:
datos['max_hospedes'] = datos['max_hospedes'].astype(np.int64)

NameError: name 'datos' is not defined

In [ ]:
datos.info()

In [ ]:
col_numericas = ['cantidad_baños','cantidad_cuartos','cantidad_camas']

In [ ]:
datos[col_numericas] = datos[col_numericas].astype(np.int64)

In [9]:
datos.info()

NameError: name 'datos' is not defined

In [ ]:
datos['evaluacion_general'] = datos['evaluacion_general'].astype(np.float64)

In [ ]:
datos.info()

In [ ]:
datos['precio'] = datos['precio'].apply(lambda x: x.replace('$','').replace(',','').strip())

In [ ]:
datos.info()

In [ ]:
datos['precio'] = datos['precio'].astype(np.float64)

In [ ]:
datos.info()

In [ ]:
datos.info()

In [10]:
datos[['cuota_deposito', 'cuota_limpieza']] = datos[['cuota_deposito', 'cuota_limpieza']].applymap(lambda x: x.replace('$','').replace(',','').strip())

NameError: name 'datos' is not defined

In [ ]:
datos[['cuota_deposito', 'cuota_limpieza']]  = datos[['cuota_deposito', 'cuota_limpieza']] .astype(np.float64)

In [ ]:
datos.info()

In [ ]:
datos

In [ ]:
datos['descripcion_local'] = datos['descripcion_local'].str.lower()

In [ ]:
datos.head()

In [ ]:
datos['descripcion_local'][3169]

In [11]:
datos['descripcion_local'] = datos['descripcion_local'].str.replace('[^a-zA-Z0-9\-\']',' ', regex=True)

NameError: name 'datos' is not defined

In [ ]:
datos['descripcion_local'] = datos['descripcion_local'].str.replace('(?<!\w)-(?<!\w)',' ', regex=True)

In [ ]:
datos['descripcion_local'].head()

In [12]:
datos['descripcion_local'] = datos['descripcion_local'].str.split()
datos.head()

NameError: name 'datos' is not defined

In [ ]:
datos['comodidades'] = datos['comodidades'].str.lower()

In [ ]:
datos['comodidades'] = datos['comodidades'].str.replace('\{|]|\"','', regex = True)

In [ ]:
datos['comodidades'] = datos['comodidades'].str.split(',')
datos.head()

In [ ]:
datos['descripcion_vecindad'][3169]

In [ ]:
datos['descripcion_vecindad'] = datos['descripcion_vecindad'].str.lower()

In [ ]:
datos['descripcion_vecindad'] = datos['descripcion_vecindad'].str.replace('[^a-zA-Z0-9\-\']',' ', regex=True)

In [ ]:
datos['descripcion_vecindad'] = datos['descripcion_vecindad'].str.replace('(?<!\w)-(?<!\w)',' ', regex=True)

In [ ]:
datos['descripcion_vecindad'] = datos['descripcion_vecindad'].str.split()

In [ ]:
datos.head()

##**4. Datos de tiempo**

In [15]:
dt_data = pd.read_json('inmuebles_disponibles.json')

In [16]:
dt_data.head()

    id       fecha  lugar_disponible precio
0  857  2016-01-04             False   None
1  857  2016-01-05             False   None
2  857  2016-01-06             False   None
3  857  2016-01-07             False   None
4  857  2016-01-08             False   None

In [17]:
dt_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 365000 entries, 0 to 364999
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                365000 non-null  int64
 1   fecha             365000 non-null  object
 2   lugar_disponible  365000 non-null  bool
 3   precio            270547 non-null  object
dtypes: bool(1), int64(1), object(2)
memory usage: 11.5+ MB

In [18]:
dt_data['fecha'] = pd.to_datetime(dt_data['fecha'])

In [19]:
dt_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 365000 entries, 0 to 364999
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                365000 non-null  int64
 1   fecha             365000 non-null  datetime64[ns]
 2   lugar_disponible  365000 non-null  bool
 3   precio            270547 non-null  object
dtypes: bool(1), datetime64[ns](1), int64(1), object(1)
memory usage: 11.5+ MB

In [29]:
import datetime as dt
dt_data['fecha'].dt.strftime('%Y-%m')

0         2016-01
1         2016-01
2         2016-01
3         2016-01
4         2016-01
           ...
364995    2016-12
364996    2016-12
364997    2016-12
364998    2017-01
364999    2017-01
Name: fecha, Length: 365000, dtype: object

In [34]:
subset = dt_data.groupby(dt_data['fecha'].dt.strftime('%Y-%m'))['lugar_disponible'].sum()

In [35]:
subset

fecha
2016-01    16543
2016-02    20128
2016-03    23357
2016-04    22597
2016-05    23842
2016-06    23651
2016-07    22329
2016-08    22529
2016-09    22471
2016-10    23765
2016-11    23352
2016-12    24409
2017-01     1574
Name: lugar_disponible, dtype: int64